/* ===========================
   KAKI ARU PORTFOLIO
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{

--bg:#0b0b0b;
--card:#151515;
--card2:#1b1b1b;

--border:#2c2c2c;

--text:#ffffff;
--muted:#b4b4b4;

--radius:22px;

--transition:.3s ease;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

.container{

width:min(1180px,92%);

margin:auto;

}

/* NAVBAR */

nav{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

background:rgba(11,11,11,.85);

backdrop-filter:blur(15px);

border-bottom:1px solid rgba(255,255,255,.05);

}

.nav-wrapper{

height:82px;

display:flex;

align-items:center;

justify-content:space-between;

}

.logo{

display:flex;

align-items:center;

gap:14px;

}

.logo img{

width:50px;

height:50px;

object-fit:contain;

}

.logo h2{

font-size:20px;

letter-spacing:2px;

}

.logo span{

font-size:13px;

color:var(--muted);

}

.nav-links{

display:flex;

gap:34px;

list-style:none;

}

.nav-links a{

font-weight:500;

transition:var(--transition);

}

.nav-links a:hover{

color:#7dd3fc;

}

.menu-btn{

display:none;

font-size:30px;

cursor:pointer;

}

.mobile-menu{

position:fixed;

right:-100%;

top:0;

width:280px;

height:100vh;

background:#111;

padding:100px 40px;

display:flex;

flex-direction:column;

gap:28px;

transition:.35s;

z-index:999;

}

.mobile-menu.active{

right:0;

}

/* HERO */

.hero{

padding-top:120px;

min-height:100vh;

display:flex;

align-items:center;

}

.hero-wrapper{

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:80px;

}
